.Navbar {
    width: 100vw;
    display: flex;
    padding: 1.5rem;
    margin: 0.5rem;
    background-color: rgb(97, 97, 197);
}

nav {
    display: flex;
    margin-left: 3rem;
}

.NavbarItem {
    margin-left: 2rem;
    font-size: 2rem;
}

table {
    margin: 5rem;
    border: 5px solid black;
    width: 90vw;
}



